<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>文件上传</title>
  <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
</head>
<body>
  <div class="layui-upload">
    <div class="layui-upload-list">
      <div id="selectFile"></div>
      <table id="fileList" lay-filter="fileList"></table>
    </div>
  </div> 
  <script type="text/html" id="headbar">
    <button class="layui-btn layui-btn-sm" lay-event="selectFile">选择文件</button>
    <button class="layui-btn layui-btn-sm" lay-event="uploadAction">开始上传</button>
  </script>
  <script type="text/html" id="option">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
  <script type="text/html" id="percent">
    <div class="layui-progress layui-progress-big" lay-filter="{{d.id}}" lay-showPercent="true" >
      <div class="layui-progress-bar layui-bg-blue" lay-percent="{{d.progress}}"></div>
    </div>
  </script>
  <script src="__STATIC__/APP/js/jquery-3.2.1.min.js"></script> 
  <script src="__STATIC__/plupload-2.3.6/js/plupload.full.min.js"></script>
  <script src="__STATIC__/cos/cos-auth.min.js"></script>
  <script src="__STATIC__/layui/layui.js" type="text/javascript"></script>
  <script type="text/javascript">
    var uploader = null;
    layui.use(['table', 'element'], function() {
      var table = layui.table;
      var element = layui.element;

      uploader = new plupload.Uploader({
        runtimes : 'html5,flash,silverlight,html4',
        browse_button : 'selectFile',
        url: '',
        flash_swf_url : '__STATIC__/plupload-2.3.6/js/Moxie.swf',
        silverlight_xap_url : '__STATIC__/plupload-2.3.6/js/Moxie.xap',
        init: {
          PostInit: function(up) {
            // init 函数触发后
            
            

          },
          FilesAdded: function(up, files) {
            plupload.each(files, function(file) {
              var rowData = {filename: file.name, size: file.size, status: "就绪", progress: "0%", id: file.id};
              var tableData = table.cache.idFileList;
              tableData.push(rowData);
              table.reload('idFileList', {data: tableData});
              element.render('progress');
            });
          },
          BeforeUpload: function(up, file) {
            $.ajax({
              url: "{:url('index/file/getAuth')}",
              method: "GET",
              async: false,
              success: function(rst) {
                uploader.setOption("multipart_params", {
                  Signature : CosAuth({
                                  SecretId: rst.credentials.tmpSecretId,
                                  SecretKey: rst.credentials.tmpSecretKey,
                                  Method: "POST",
                                  Pathname: "/",
                              }),
                });

                var protocol = location.protocol === 'https:' ? 'https:' : 'http:';
                var prefix = protocol + '//' + rst.Bucket + '.cos.' + rst.Region + '.myqcloud.com/';
                uploader.settings.url = prefix;
                uploader.setOption("multipart_params", {
                  key : rst.Path + file.name,
                });
              }

            });
            
          },
          UploadProgress: function(up, file) {
            element.progress(file.id, file.percent + "%");
          },
          FileUploaded: function(up,file,obj) {
            if ( obj.status == 204 ) {
              up.removeFile(file);
              $.ajax({
                url: "{:url('index/file/addFile')}",
                data: {filename: file.name, size: file.size/1024},
                dataType: "JSON",
                type: "POST",
                success: function(rst) {
                  if (rst.status) {
                    $('div[lay-filter="' + file.id + '"]').parent().parent().prev().children('div').text('上传成功');
                  } else {
                    $('div[lay-filter="' + file.id + '"]').parent().parent().prev().children('div').text('上传失败');
                  }
                } 

              });
            } else {
              $('div[lay-filter="' + file.id + '"]').parent().parent().prev().children('div').text('上传失败');
            }
          },
          Error: function(up, err) {
            // 错误
          }
        }
      });

      uploader.init();

      table.render({
        elem: "#fileList",
        title: "文件管理",
        toolbar: '#headbar',
        defaultToolbar: [],
        cols: [
          [
            {field: "filename", title: "文件名", fixed: "left"},
            {field: "size", title: "大小", templet: function(obj) { return (obj.size / 1024) + "Kb"; }},
            {field: "status", title: "状态"},
            {field: "progress", title: "进度", templet: '#percent'},
            {field: "id", title: "操作", fixed: "right", toolbar: '#option'}
          ]
        ],
        height: 'full',
        page: false,
        id: "idFileList",
        data: [],
      });

      table.on('toolbar(fileList)', function(obj) {
        var event = obj.event;
        if ( event == 'selectFile' ) {
          if ( uploader.files.length == 0 ) {
            table.reload('idFileList', {data: []});
          }
          $('#selectFile').click();
          return ;
        }
        if ( event == 'uploadAction' ) {
          uploader.start();
          return ;
        }
      });

      table.on('tool(fileList)', function(obj) {
        var data = obj.data;
        if(obj.event === 'del'){
          // 删除上传队列元素
          uploader.splice(data.id, 1);
          // 删除表单列表元素
          obj.del();
        }
      });
    });
  </script>
</body>
</html>